
div.listagem{
    float: center;
    padding-left: 150px;
    padding-right: 150px;
  }

  div.listando{
    position: relative;
    width: 325px;
    height: 160px;
    float: left;
  }
